@charset "utf-8";



:root {
    --cor01: #e3c86f;
    --cor02: #DEB52A;
    --cor03: #AB8B20;
    --cor04: #5E4D12;
    --cor05: #5E532E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: var(--cor03);
    height: 100vh;
    width: 100vw;
}


main {
    position: relative;
    height: 100vh;
    width: 100vw;
}


#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 15.625em;
    height: 31.25em;
    border-radius: 1.25em;
    overflow: hidden;
    box-shadow: 0.125em 0.125em 0.25em rgba(94, 78, 18, 0.363);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease-in-out;
}


#imagem {
    display: block;
    background-color: var(--cor03);
    background-image: url(/images/metro-suecia.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 12.5em;
}


#grupo-formulario {
    display: block;
    padding: 0.625em;
}