@charset "utf-8";



:root {
    --cor01: #144673;
    --cor02: #a68217;
    --cor03: #f2bf27;
    --cor04: #735112;
    --cor05: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-image: url(/images/aurora-boreal-suecia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


main {
    position: relative;
    height: 100vh;
    width: 100vw;
}


#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 18.75em;
    height: 32.188em;
    border-radius: 1.25em;
    overflow: hidden;
    box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.363);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease-in-out;
}


#imagem {
    display: block;
    background-color: var(--cor03);
    background-image: url(/images/metro-suecia.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 12.5em;
}


#grupo-formulario {
    display: block;
    padding: 0.625em;
}


h1 {
    text-align: center;
    margin-bottom: 0.625em;
}


p {
    font-size: 0.8em;
}


.grupo-acesso {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #063b49;
    border-radius: 0.313em;
    margin: 0.313em 0em;
    padding: 0.625em;
}


.material-symbols-outlined {
    font-size: 2em;
    margin-left: -0.313em;
}


label {
    display: none;
}


input {
    font-size: 1em;
    background-color: #4f6b6f;
    width: 100%;
    padding: 0.625em;
    border: none;
    border-radius: 0.313em;
 }


 input::placeholder {
    color: #fff;
 }


.grupo-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#entrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2em;
    font-size: 1em;
    background-color: var(--cor03);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.313em;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}


#entrar {
    margin-bottom: 0.313em;   
}


#entrar:hover {
    background-color: #5ba361;
    color: #06040f;
}



#esqsenha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5em;
    font-size: 1em;
    background-color: var(--cor01);
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 0.313em;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}


#esqsenha:hover {
    background-color: #1b472c;
    color: #fff;
}


#button-email {
    margin-left: 0;
}