@charset "utf-8";


@media screen and (min-width: 48em) and (max-width: 62em){
    body {
        background-image: linear-gradient(to top, #06040f, #063b49, #4f6b6f, #5ba361, #1b472c);
    }


    #container {
        width: 80vw;
        height: 18.75em;
    }


    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }


    #grupo-formulario {
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 62em) {
    body {
        background-image: linear-gradient(to bottom, #06040f, #063b49, #4f6b6f, #5ba361, #1b472c);
    }



    #container {
        width: 59.375em;
        height: 21.875em;
    }


    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }


    #grupo-formulario {
        float: left;
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }


    p {
        font-size: 1em;
    }
}